* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
li:last-child{
  margin-bottom: 0;
}
p{
  margin: 0;
}
img {
  max-width: 100%;
}
html {
  font-family: sans-serif;
  background-color: #e5e5e5;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1170px;
}
.main-info {
  display: flex;
  align-items: center;
  min-width: 1170px;
}
.logo {
  margin-top: 30px;
  margin-bottom: 30px;

}
.header-contacts {
  margin-left: 40px;
  color:#666666;
  font-weight: 500;
  font-size: 20px;
}
.authorisation{
margin-left: auto;
background-image: url(../logo/Vector.svg);
background-repeat: no-repeat;
padding-left: 30px;
color:#CC9933;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 1170px;
  height: 70px;
  background-color: #fff;
  border-radius: 15px;
}
.nav-list{
display: flex;
}
.nav-list-item{
  margin-left: 45px;
  text-decoration: none;
  color: #666666;
  font-weight: 400;
  font-size: 16px;
}
.button-header {
  border-left: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  width: 426px;
  height: 50px;
  background-color: #fff;
  border-radius: 0 15px 15px 0;
}
.btn-1{
margin-left: 57px;
margin-right: 45px;
width: 100px;
color: #CC9933;
border-color: #CC9933;
border-radius: 10px;
border-width: 1px;
border-style: solid;
background-color: #fff;
height: 45px;
font-size: 16px;
}
.btn-2{
  margin-right: 45px;
  width: 200px;
  color: #CC9933;
  border-color: #CC9933;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  height: 45px;
  font-size: 16px;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
}
.section-offer{
  display: flex;
}
.section-heading{
 margin-top: 70px;
 margin-left: 30px;
 margin-bottom: 30px;
 color:#333333;
 font-size: 40px;
 line-height: 40px;
 font-weight: 400;
}
.section-offer-list{
  display: flex;
  flex-direction: column;
}
.section-offer-block-aside{
  margin-left: 23px;
}
.section-service-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-service-list-item-one{
max-width: 573px;
height: 165px;
}
.section-service-list-item-two{
  max-width: 573px;
  height: 165px;
}
.section-service-list-item-three{
  max-width: 573px;
  height: 165px;
}
.section-service-list-item-four{
  max-width: 573px;
  height: 165px;
}
.section-advantages-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-advantages-list-item{
  max-width: 275px;
  height: 275px;
}
.section-place-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-place-list-item{
  max-width: 374px;
  height: 440px;
}
.section-place-list-item{
  background-image: url(../img_hotel/41.png);
  min-width: 373px;
  height: 440px;
}
.section-offer-background-one{
  background-image: linear-gradient(90deg,rgba(48, 64, 89, 0.84)-2.9%,rgba(53, 65, 83, 0)66.67%), url(../img_hotel/Rectangle14.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  padding-top: 40px;
  padding-left: 40px;
  width: 573px;
  height: 258px;
  margin-bottom: 23px;
  color: #fff;
}
.section-offer-background-two{
  background-image: linear-gradient(90deg,rgba(48, 64, 89, 0.84)-2.9%,rgba(53, 65, 83, 0)66.67%),url(../img_hotel/Rectangle16.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  padding-top: 40px;
  padding-left: 40px;
  width: 573px;
  height: 258px;
  color: #fff;
}
.section-offer-background-three{
  background-image: url(../img_hotel/33_1.png);
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 573px;
  height: 540px;
  padding-top: 211px;
  padding-left: 40px;
  color: #fff;
}
.section-offer-list-heading-one{
  margin: 0 0 15px 0;
  font-size: 40px;
  line-height: 40px;
  width: 299px;
}
.section-offer-list-heading-two{
  margin: 0 0 15px 0;
  font-size: 40px;
  line-height: 40px;
  width: 345px;
}
.section-offer-list-heading-three{
  margin: 0 0 15px 0;
  font-size: 60px;
  width: 350px;
}
.section-offer-price{
  margin-bottom: 47px;
  font-size: 20px;
  font-weight: 400;
  opacity: 80%;
}
.section-offer-price-aside{
  margin-bottom: 23px;
  font-size: 30px;
  font-weight: 400;
  opacity: 80%;
}
.section-offer-more{
  color: #FFCC66;
  background-image: url(../logo/Rectangle2.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right center;
  padding-right: 14px;
}
.section-text{
  color:#000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  width: 80%;
}
.section-heading-about-us{
  margin-top: 70px;
  margin-left: 30px;
  margin-bottom: 11px;
  color:#333333;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}
.section-service-list-item-one{
  width: 573px;
  height: 330px;
  background-color: #fff;
  background-image: url(../img_hotel/10.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 45px;
  padding-top: 200px;
  margin-bottom: 23px;
}
.section-service-list-item-two{
  width: 573px;
  height: 330px;
  background-color: #fff;
  background-image: url(../img_hotel/15.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 45px;
  padding-top: 200px;
  margin-bottom: 23px;
}
.section-service-list-item-three{
  width: 573px;
  height: 330px;
  background-color: #fff;
  background-image: url(../img_hotel/12.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 45px;
  padding-top: 200px;
  margin-bottom: 0;
}
.section-service-list-item-four{
  width: 573px;
  height: 330px;
  background-color: #fff;
  background-image: url(../img_hotel/carlo-d-agnolo-aFxSh_l4fbY-unsplash.png);
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 15px;
  padding: 45px;
  padding-top: 200px;
  margin-bottom: 0;
}
.section-service-link{
  background-image: url(../logo/Rectangle2.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right center;
  padding-right: 15px;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  color:#CC9933;
}
.section-service-text{
  font-size: 16px;
  line-height: 32px;
}
.section-advantages-list-item{
  background-color: #fff;
  border-radius: 15px;
  padding: 116px 45px;
  margin-bottom: 23px;
}
.section-advantages-list-item:nth-child(n+5){
margin-bottom: 0;
}
.section-advantages-text{
  font-size: 16px;
  line-height: 32px;
  margin-top: 0;
  width:188px;
}
.bathtub{
  background-image: url(../pros/bathtub.svg);
  background-repeat: no-repeat;
  background-position-x: 40px;
  background-position-y: 40px;
  width: 275px;
  height: 275px;
}
.hanger{
  background-image: url(../pros/hanger.svg);
  background-repeat: no-repeat;
  background-position-x: 40px;
  background-position-y: 40px;
  width: 275px;
  height: 275px;
}
.heating{
  background-image: url(../pros/heating.svg);
  background-repeat: no-repeat;
  background-position-x: 40px;
  background-position-y: 40px;
  width: 275px;
  height: 275px;
}
.hotel-key{
  background-image: url(../pros/hotel-key.svg);
  background-repeat: no-repeat;
  background-position-x: 40px;
  background-position-y: 40px;
  width: 275px;
  height: 275px;
}
.parking{
  background-image: url(../pros/parking.svg);
  background-repeat: no-repeat;
  background-position-x: 40px;
  background-position-y: 40px;
  width: 275px;
  height: 275px;
}
.reception{
  background-image: url(../pros/reception.svg);
  background-repeat: no-repeat;
  background-position-x: 40px;
  background-position-y: 40px;
  width: 275px;
  height: 275px;
}
.security-box{
  background-image: url(../pros/security-box.svg);
  background-repeat: no-repeat;
  background-position-x: 40px;
  background-position-y: 40px;
  width: 275px;
  height: 275px;
}
.swimming-pool{
  background-image: url(../pros/swimming-pool.svg);
  background-repeat: no-repeat;
  background-position-x: 40px;
  background-position-y: 40px;
  width: 275px;
  height: 275px;
}
.section-place-list-item{
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #fff;
  padding-top: 253px;
  padding-left: 45px;
  margin-bottom: 23px;
  border-radius: 15px;
}
.section-place-list-item:nth-child(n+7){
  margin-bottom: 0;
}
.Lagoona{
  line-height: 16px;
  margin-bottom: 15px;
}
.española{
background-image: url(../img_hotel/23.jpg);
}
.típicas{
background-image: url(../img_hotel/24.jpg);
}
.guerra{
background-image: url(../img_hotel/26.jpg);
}
.piadosa{
background-image: url(../img_hotel/29-1.jpg);
}
.creatividad{
background-image: url(../img_hotel/30.jpg);
}
.retorno{
background-image: url(../img_hotel/31.jpg);
}
.piadosa-2{
background-image: url(../img_hotel/27.jpg);
}
.siempre{
background-image: url(../img_hotel/29.jpg);
}
.section-place-text{
  color: #999;
}
.section-place-container{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stars{
padding-right: 45px;
}
.section-place-link{
  background-image: url(../logo/Rectangle3.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
  text-decoration: none;
  color: #fff;
}
.see-all{
  padding-top: 373px;
  padding-right: 54px;
  font-size: 20px;
}
.btn{
  color: #CC9933;
  border-color: #CC9933;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  height: 45px;
  font-size: 16px;
  width: 90px;
  margin-top: 15px;
}
.gray{
  color: #999;
}

