@media (max-width: 1800px) {
  .footer__section {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__text {
    max-width: 100%;
    padding-bottom: 0;
  }

}

@media (max-width: 1440px) {
  .nav-header__list {
    width: 100%;
    justify-content: space-between;
  }
  .nav-header__list-item:not(:last-child) {
    margin-right: 15px;
  }

  .title {
    font-size: 60px;
  }

  .slider__title {
    width: 80%;
  }

  .slider__text {
    margin-bottom: 50px;
  }
  .about-us__card {
    flex-wrap: wrap;
  }
  .about-us__text {
    max-width: 100%;
  }
  .about-us__bottom {
    flex-wrap: wrap;
  }
  .about-us__bottom-text {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .how-we-work__text {
    margin-right: 50px;
  }

  .how-we-work__buttons {
    margin-bottom: 32px;
  }

  .footer__info {
    min-width: fit-content;
  }

  .footer__info:nth-child(2n) {
    margin-right: 0;
  }

  .footer__info:last-child {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 954px;
  }
  .header-page {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .burger {
    display: block;
  }

  .nav-header {
    align-items:flex-start;
    position: fixed;
    left: 0;
    top: 68px;
    z-index: 1000;
    overflow-y: auto;
    min-width: 420px;
    height: 700px;
    background-color: var(--color-white);
    padding: 100px 0 30px 30px;
    transform:  translateX(-100%);
    transition: transform 0.6s ease-in-out;
  }
  .nav-header-visible {
    transform: none;
  }
  .nav-header__list {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    min-width: 100%;
  }
  .nav-header__list-item {
    font-size: 24px;
    line-height: 29px;
  }
  .nav-header__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .slider {
    padding: 160px 77px;
  }

  .title {
    line-height: 73px;
    width: 100%;
  }

  .text {
    line-height: 32px;
    font-size: 16px;
  }

  .slider-section {
    margin-bottom: 80px;
  }

  .slider__title {
    margin-bottom: 16px;
  }

  .slider__text {
    font-size: 20px;
    line-height: 24px;
    max-width: 100%;
    margin-bottom: 60px;
  }

  .about-us {
    margin-bottom: 80px;
  }
  .about-us__heading {
    margin-bottom: 12px;
  }

  .about-us__block {
    flex-wrap: wrap;
  }

  .about-us__text {
    max-width: 100%;
    margin-bottom: 60px;
  }

  .about-us__card-one {
    background-image: url(../img/builder1024.jpg);
    min-height: 640px;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .about-us__card {
    flex-wrap: nowrap;
  }

  .about-us__card-two,
  .about-us__card-three {
    max-width: 924px;
    padding: 63px 125px 62px 77px;
  }

  .about-us__card-two {
    margin-bottom: 33px;
  }

  .about-us__card-heading {
    margin-bottom: 8px;
  }

  .about-us__bottom-text {
    font-size: 16px;
    max-width: 454px;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .how-we-work {
    margin-bottom: 81px;
  }

  .how-we-work__heading {
    margin-bottom: 54px;
  }

  .how-we-work__buttons {
    margin-bottom: 0;
  }

  .how-we-work__one {
    flex-wrap: nowrap;
  }

  .how-we-work__img {
    min-width: 437px;
  }

  .how-we-work__text {
    margin-right: 50px;
    margin-bottom: 23px;
  }

  .how-we-work__agreement {
    min-width: 147px;
  }

  .faq__heading {
    margin-bottom: 32px;
  }

  .faq__list {
    padding: 19px 0;
  }

  .faq__list:nth-child(2n) {
    padding: 10px 0;
  }

  .faq__list:last-child {
    margin-bottom: 80px;
  }

  .faq__question {
    font-size: 20px;
    max-width: 756px;
  }

  .footer__section {
    padding-top: 50px;
  }

  .footer__logo {
    height: 72px;
    margin-bottom: 15px;
  }

  .footer__info:first-child {
    min-width: 349px;
    margin-right: 26px;
  }

  .footer__form {
    max-width: 550px;
    margin-right: 0;
  }

  .submit {
    justify-content: space-between;
  }

  .footer__submit {
    min-width: 240px;
  }

  .footer__text {
    display: none;
  }
}

@media (max-width: 992px) {
  .container{
    padding: 0 50px;
  }
  .header-page__logo-evklid {
    padding-right: 5px;
  }
  .about-us__card-one {
    min-width: 100%;
  }
  .how-we-work__img {
    min-width: 100%;
  }

  .slider {
    padding: 160px 40px;
  }
  .slider-section .swiper {
    width: calc(100% - 100px);
  }

  .footer__section {
    flex-direction: column-reverse;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

  .footer__links {
    display: none;
  }

  .footer__form {
    max-width: 541px;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
    max-width: 698px;
  }
  .nav-header {
    height: 663px;
  }
  .text {
    font-size: 18px;
  }

  .title {
    line-height: 60px;
    font-size: 50px;
  }
  .slider {
    padding: 160px 40px;
  }
  .slider-section .swiper {
    width: calc(100% - 30px);
  }

  .header-page {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .slider-section {
    margin-bottom: 80px;
  }
  .slider__text {
    line-height: 23px;
  }
  .slider__button {
    padding: 27px 39px;
  }

  .section-title {
    font-size: 48px;
  }

  .slider__text {
    margin-bottom: 57px;
  }

  .how-we-work__steps {
    justify-content: space-between;
  }

  .how-we-work__step-number:last-child {
    margin-right: 0;
  }

  .about-us {
    margin-bottom: 80px;
  }

  .about-us__heading {
    margin-bottom: 10px;
  }

  .about-us__text {
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 60px;
  }

  .about-us__card-one {
    background-image: url(../img/builder768.png);
    min-width: 100%;
    min-height: 650px;
  }

  .about-us__bottom {
    padding: 34px 40px;
  }

  .about-us__bottom-text {
    max-width: 366px;
  }

  .about-us__card-two {
    margin-bottom: 30px;
  }
  .about-us__img {
    margin-right: 16px;
  }
  .about-us__card-two,
  .about-us__card-three {
    max-width: 668px;
    padding: 33px 40px 32px 40px;
  }

  .about-us__card-text {
    font-size: 16px;
  }

  .sub-title {
    font-size: 24px;
  }

  .about-us__bottom-text {
    font-size: 16px;
  }

  .how-we-work__heading {
    margin-bottom: 50px;
  }

  .how-we-work__step-number {
    font-size: 18px;
  }

  .how-we-work__one {
    flex-direction: column-reverse;
  }

  .how-we-work__img {
    margin-bottom: 33px;
  }

  .how-we-work__text {
    font-size: 16px;
    line-height: 32px;
    margin-right: 0;
    margin-bottom: 23px;
  }

  .faq__list:nth-child(3n) {
    padding: 10px 0;
  }

  .faq__list:last-child {
    padding: 10px 0;
  }

  .faq__question {
    font-size: 20px;
    max-width: 570px;
  }

  .faq__list:last-child {
    margin-bottom: 82px;
  }
  .footer__textarea {
    margin-bottom: 35px;
  }
}

@media (max-width: 576px) {
  .search--open {
    padding: 0;
  }
  .search {
    padding: 6px 15px 6px 15px;
    box-shadow: none;
  }
  .header-page {
    padding-top: 16px;
    padding-bottom: 14px;
  }
  .nav-header {
    padding: 32px 0 30px 15px;
    min-width: 320px;
    height: 309px;
  }
  .nav-header__list-item {
    font-size: 16px;
    line-height: 19px;
  }
  .nav-header__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .text {
    font-size: 14px;
    line-height: 28px;
  }

  .title {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 21px;
  }

  .slider-section {
    margin-bottom: 60px;
  }

  .slider {
    display: flex;
    flex-direction: column;
    padding: 60px 21px;
  }

  .slider__title {
    margin-bottom: 8px;
  }

  .slider__text {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 33px;
  }

  .slider__button {
    min-width: 162px;
    padding: 12px 0;
    font-size: 12px;
    align-self: center;
  }

  .how-we-work__steps {
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .how-we-work__step-number {
    font-size: 14px;
  }

  .how-we-work__step-number:last-child {
    margin-right: 0;
  }

  .about-us {
    margin-bottom: 60px;
  }

  .about-us__card {
    flex-wrap: wrap;
  }
  .about-us__pic {
    margin-bottom: 13px;
  }

  .about-us__card-one {
    display: block;
    background-image: url(../img/builder320.png);
    background-position: top;
    background-size: 100%;
    padding-top: 72%;
    justify-content: start;
    min-width: 100%;
    min-height: 100%;
  }

  .about-us__card-heading {
    margin-bottom: 5px;
  }

  .about-us__card-two,
  .about-us__card-three {
    border: none;
    padding: 0;
    max-width: 100%;
  }

  .about-us__card-two {
    margin-bottom: 32px;
  }

  .about-us__bottom {
    background-color: transparent;
    flex-wrap: wrap;
    padding: 0;
  }

  .about-us__text {
    margin-bottom: 13px;
  }

  .sub-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
  }

  .about-us__card {
    min-width: 100%;
  }

  .about-us-heading {
    margin-bottom: 8px;
  }

  .about-us__bottom-text {
    color: var(--color-dark-gray);
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .about-us__button {
    color: var(--color-yellow);
    font-size: 12px;
    line-height: 14px;
    padding: 10px 42px;
  }

  .about-us__button:hover,
  .about-us__button:focus,
  .about-us__button:active {
    color: var(--color-white);
  }

  .how-we-work {
    margin-bottom: 61px;
  }

  .how-we-work__one {
    flex-direction: column-reverse;
  }

  .how-we-work__title {
    margin-bottom: 15px;
  }

  .how-we-work__img {
    min-width: 100%;
    margin-bottom: 16px;
  }

  .how-we-work__text {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .how-we-work__buttons {
    display: flex;
  }

  .how-we-work__more {
    min-width: 160px;
    min-height: 0;
    margin-right: 10px;
    font-size: 12px;
  }

  .how-we-work__agreement {
    min-width: 120px;
    min-height: 40px;
    font-size: 12px;
  }

  .faq__heading {
    margin-bottom: 16px;
  }

  .faq__question {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    max-width: 246px;
  }

  .faq__list,
  .faq__list:nth-child(2n),
  .faq__list:nth-child(3n) {
    padding: 16px 0;
  }

  .faq__list:last-child {
    padding: 16px 0;
    margin-bottom: 60px;
  }

  .faq__list svg {
    max-width: 30px;
    min-height: 30px;
  }

  .footer__form {
    margin-bottom: 50px;
  }

  .submit {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer__heading {
    margin-bottom: 22px;
  }

  .footer__submit {
    min-width: 180px;
    min-height: 40px;
    font-size: 12px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer__logo {
    max-width: 131px;
    height: min-content;
  }

  .footer__label {
    padding-bottom: 20px;
    border-bottom: 1px solid #595959;
  }

  .footer__section {
    padding-top: 30px;
    flex-direction: column-reverse;
  }

  .footer__info {
    min-width: 290px;
  }

  .footer__form {
    margin-bottom: 17px;
  }

  .footer__info:first-child {
    margin-right: 0;
    align-items: center;
    min-width: 100%;
  }

  .footer__input {
    max-width: 100%;
    font-size: 14px;
  }

  .footer__textarea {
    font-size: 14px;
    margin-bottom: 27px;
  }

  .footer__links {
    display: none;
  }

  .footer__social-link {
    padding: 26px 1px 1px 1px;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 14px;
  }

  .footer__social-item svg {
    width: 40px;
    height: 40px;
  }
}
