@media (max-width: 992px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 134px;
  }
  .hero__content {
    padding-top: 13px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 15px;
  }

  .hero__text {
    margin-bottom: 62px;
  }

  .hero__btn {
    display: inline-block;
    padding: 25px 77px;
    font-size: 18px;
    line-height: 21px;
  }
  .advantages__content {
    background-image: url(../img/Vectarytexture.jpg);
    background-position: left 25px;
    padding-left: 240px;
  }
  .advantages {
    padding-bottom: 75px;
  }
  .advantages__top {
    margin-bottom: 22px;
  }
  .advantages__pros {
    flex-wrap: wrap;
  }
  .advantages__pros-svg {
    font-size: 0;
    margin-bottom: 12px;
  }
  .advantages__btm-content {
    align-items: flex-start;
  }
  .tutors {
    padding-top: 74px;
    padding-bottom: 26px;
  }
  .tutors__title {
    margin-bottom: 24px;
  }
  .tutor__content {
    margin-bottom: 24px;
  }
  .courses {
    padding-bottom: 51px;
  }
  .courses__item {
    min-height: 556px;
  }
  .courses__content {
    margin-bottom: 30px;
  }
  .courses__title {
    margin-bottom: 24px;
  }
  .courses-item__text {
    margin-bottom: 30px;
  }
  .courses-item__link {
    padding: 21px 56px;
  }
  .courses-item__time {
    margin-right: 5px;
  }
  .footer-section__text {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .header-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__content {
    justify-content: center;
  }
  .header__logo {
    margin-right: 0;
    margin-bottom: 31px;
  }
  .hero {
    padding-top: 64px;
  }
  .hero__img {
    display: none;
  }
  .advantages {
    padding-bottom: 55px;
  }
  .advantages__content {
    background-image: url(../img/Vectarytexture-sm.jpg);
    background-position: left 0;
    padding-left: 180px;
  }
  .advantages__btm {
    flex-wrap: nowrap;
  }
  .tutors {
    padding-bottom: 50px;
  }
  .courses {
    padding-bottom: 49px;
  }
  .courses__item {
    min-height: 653px;
  }
  .courses-item__title {
    line-height: 23px;
    margin-bottom: 9px;
  }
  .courses-item__text {
    margin-bottom: 9px;
  }
  .courses-item__link {
    padding: 21px 49px;
  }
  .footer-section__social {
    padding-top: 30px;
    padding-bottom: 26px;
  }
}
@media (max-width: 576px) {
  .subtitle {
font-size: 20px;
line-height: 26px;
  }
  .header-section {
    padding-top: 14px;
    padding-bottom: 31px;
  }
  .header__content {
    padding-top: 16px;
    flex-direction: row-reverse;
  }
  .header__logo {
    margin-right: auto;
    margin-bottom: 0;
  }
  .burger {
    display: block;
  }
  .nav {
    align-items:flex-start;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    overflow-y: auto;
    width: 100%;
    height: 433px;
    background-color: #2F2C45;
    padding: 76px 0 30px 15px;
    transform:  translateX(-100%);
    transition: transform 0.6s ease-in-out;
  }
  .nav-visible {
    transform: none;
  }
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    min-width: 100%;
  }
  .nav-header__list-item {
    font-size: 24px;
    line-height: 29px;
  }
  .nav__list-item {
    margin-right: 0;
    margin-bottom: 56px;
  }
  .hero {
    padding-top: 37px;
    padding-bottom: 49px;
  }
  .hero__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 7px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 47px;
  }
  .hero__btn {
    padding: 21px 55px;
    font-size: 16px;
    line-height: 18px;
  }
  .advantages {
    padding-top: 50px;
    padding-bottom: 19px;
  }
  .advantages__title {
    margin-bottom: 1px;
  }
  .advantages__content {
    background-image: none !important;
    padding-left: 0;
  }
  .advantages__top {
    margin-bottom: 25px;
  }
  .advantages__btm {
    flex-wrap: wrap;
  }
  .advantages__pros {
    flex-wrap: nowrap;
  }
  .advantages__pros-text {
    align-self: flex-start;
  }
  .advantages__pros {
    margin-bottom: 18px;
  }
  .tutors {
    padding-top: 44px;
    padding-bottom: 24px;
  }
  .courses {
    padding-top: 43px;
    padding-bottom: 20px;
  }
  .courses__item {
    min-height: 653px;
  }
  .courses-item__content {
    padding-right: 23px;
  }

  .courses-item__link {
    padding: 21px 56px;
  }
}
