body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
.img-wrapper {
  font-size: 0;
}
.card-img-top {
  height: max-content;
  width: 100%;
}
.card-title {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
}

.subtitle {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn-skb {
  border-radius: 20px;
  background-color: var(--blue);
  color: var(--white);
}

.text {
  margin: 0;
  color: var(--white);
  line-height: 24px;
}


:root {
  --white: #fff;
  --gray: #666;
  --blue: #3F2AFF;
  --light-blue: #EDF0F9;
  --light-gray: #85859B;
  --dark-blue: #2E2B44;
  --dark-gray: #212133;
}

/*header*/
.burger {
  position: relative;
  width: 20px;
  height: 18px;
  display: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  align-self: center;
  margin-right: 5px;
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.burger:active:not(.active):after {
  width: 60%;
}
.burger:active:not(.active) .burger__line {
  width: 80%;
}
.burger:hover:after,
.burger:hover:before,
.burger:hover .burger__line {
 background-color: var(--white);
}
.burger.active .burger__line {
  transform: scale(0);
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s ease-in-out, width 0.3s ease-in-out;
}
.burger::before{
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger-active {
  z-index: 1001;
}
.burger-active .burger__line {
  opacity: 0;
}
.burger-active::before {
  top: 50%;
  transform: rotate(45deg);
}
.burger-active::after {
  top: 50%;
  bottom: auto;
  transform: rotate(-45deg);
}
.stop-scroll {
  overflow: hidden;
}
.header-section {
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: #3F2AFF;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__content {
  align-items: center;
}

.nav__list {
  align-items: center;
}

.nav__link {
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

.nav__list-item:not(:last-child) {
  margin-right: 57px;
}

/*hero*/

.hero {
  padding-top: 15px;
  padding-bottom: 9px;
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}
.hero__img {
  width: 100%;
}
.hero__content {
  padding-top: 117px;
}

.hero__title {
  margin: 0;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 27px;
}

.hero__text {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 62px;
}

.hero__btn {
  display: inline-block;
  padding: 25px 77px;
  font-size: 18px;
  line-height: 21px;
}

/*advantages*/
.advantages {
  padding-top: 80px;
  padding-bottom: 77px;
}
.advantages__top {
  margin-bottom: 21px;
}
.advantages__content {
  background-image: url(../img/Vectary-texture.jpg);
  background-repeat: no-repeat;
  background-position: left 22px;
  padding-left: 190px;
}

.advantages__title {
  color: var(--dark-blue);
  margin-bottom: 18px;
}

.advantages__text {
  color: var(--gray);
}

.advantages__pros {
  display: flex;
}

.advantages__pros-svg {
  margin-right: 30px;
}

.advantages__pros-text {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray);
}

/*tutors*/
.tutors {
  padding-top: 76px;
  padding-bottom: 73px;
  background-color: var(--dark-gray);
}
.tutor__card {
  max-width: 100%;
}
.tutors__title {
  color: var(--white);
  margin-bottom: 23px;
}
.tutor__pic {
  margin-bottom: 27px;
}
.tutor__name {
  color: var(--white);
  margin-bottom: 6px;
}
.tutor__info {
  color: var(--light-gray);
}

/*courses*/
.courses {
  padding-top: 74px;
  padding-bottom: 52px;
}
.courses__content {
  margin-bottom: 29px;
}
.courses__list {
  margin-left: -15px;
  margin-right: -15px;
}

.courses__item {
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  border-radius: 20px;
  background-color: var(--light-blue);
}

.courses-item__content {
  padding-right: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
.courses-item__pic {
  position: relative;
  width: 100%;
}
.courses-item__time {
  display: flex;
  align-items: center;
  position: absolute;
  top: 9px;
  right: 20px;
}
.courses-item__time-img {
  margin-right: 4px;
}
.courses-item__image {
  width: 100%;
  margin-bottom: 26px;
}
.courses__title {
  margin-bottom: 25px;
}
.courses-item__title {
  margin-bottom: 7px;
}

.courses-item__text {
  margin-bottom: 50px;
  line-height: 24px;
  color: var(--gray);
}
.courses-item__link {
  position: relative;
  margin-top: auto;
  font-size: 16px;
  line-height: 18px;
  padding: 21px 59px;
}

/*footer*/
.footer-section__top {
  background-color: var(--dark-blue);
}
.footer-section__bottom {
  padding-top: 2px;
}
.footer-section__social {
  padding-top: 28px;
  padding-bottom: 27px;
  background-color: var(--dark-blue);
}
.footer-section__links {
  align-items: center;
}
.footer-section__link:not(:last-child) {
  margin-right: 34px;
}
.reg {
  color: var(--blue);
  align-self: center;
}
.footer__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
