* {
  box-sizing: border-box;
}
.header {
display: flex;
}
a {
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
html {
  font-family: sans-serif;
  background-color: #e5e5e5;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
}
.header {
  height: 155px;
}
.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-info {
display: flex;
}
.logo {
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 30px;
}
.header-contacts {
  margin-left: auto;
  margin-top: 47px;
  display: flex;
}
.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-list-item{
  padding-left: 45px;
}
.authorisation {
  margin-left: auto;
  margin-top: 50px;
  display: flex;
}
.btn-header {
  display: flex;
  align-content: flex-end;
  align-self: flex-end;
  align-items: center;
  margin-right: 60px;
}
.section-heading {
  margin-top: 70px;
  margin-bottom: 60px;
}
.section-offer{
  display: flex;
 flex-direction: row;

}

